In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
cutl=pd.read_csv("Cutlets.csv")
cutl

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [5]:
a=cutl["Unit A"]
a

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [6]:
b=cutl["Unit B"]
b

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [7]:
stats.ttest_ind(a,b)

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [8]:
stats.ttest_ind(cutl["Unit A"],cutl["Unit B"])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [ ]:
#pvalue > 0.05 ,accept null hypothesis,there is no siginificant difference between the diameter of the cutlet

In [10]:
labtat=pd.read_csv("LabTAT.csv")
labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [21]:
stats.f_oneway(labtat["Laboratory 1"],labtat["Laboratory 2"],labtat["Laboratory 3"],labtat["Laboratory 4"])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
#pvalue < 0.05 accept alterate hypothesis,there is  difference in average TAT

In [12]:
buy=pd.read_csv("BuyerRatio.csv")
buy

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
male=[50,142,131,70]
female=[435,1523,1356,750]

In [18]:
stats.ttest_ind(male,female)

Ttest_indResult(statistic=-3.5834877367684856, pvalue=0.011594334372357056)

In [19]:
#pvalue < 0.05 accept alternate hypothesis ,so male female buyer ratios are similar across the region

In [23]:
cusform=pd.read_csv("Costomer+OrderForm.csv")
cusform

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [30]:
cusform=cusform.replace(to_replace="Error Free",value="0")
cusform=cusform.replace(to_replace="Defective",value="1")
cusform

    Phillippines Indonesia Malta India
0              0         0     1     0
1              0         0     0     1
2              0         1     1     0
3              0         0     0     0
4              0         0     1     0
..           ...       ...   ...   ...
295            0         0     0     0
296            0         0     0     0
297            0         0     1     0
298            0         0     0     0
299            0         1     1     0

[300 rows x 4 columns]

In [31]:
stats.f_oneway(cusform["Phillippines"],cusform["Indonesia"],cusform["Malta"],cusform["India"])

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

In [ ]:
#pvalue > 0.05 ,accept null hypothesis,the defective % doesnot vary by centre